# Next.js
.next/
out/
build/
dist/

# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env*.local

# Documentação
documentação/

# IDE & OS
.DS_Store
*.pem
.vscode/
.idea/

# Supabase
supabase/

# Vercel
vercel/

#Public
public/
